*{
    font-family: Roboto;
}
.benefit_block, .element-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.benefit_block > div{
    flex-basis: 43%;
}
.blue_text{
    color: #0067C2;
}
.benefit_block .products-box__item{
    padding: 0px;
}
.arrow_img{
    flex-basis: 33%;
    min-width: 50px;
}
.products-box__item.tab3_item{
    flex-direction: row;
}
.tab3_content{
    flex-basis: 70%;
}
div.product-description .product-description__head{
    display: flex;
}
.benefit_block .products-box__item{
    border: none;

}
.benefit_block .products-box__item:after{
    content: '';
    border-bottom: 1px solid #0067C2;
    position: relative;
    top: 10px;
    width: 100%;
}
/*.benefit_block .products-box__item.grey_background{*/
    /*border: none;*/
/*}*/
.benefit_title{
    font-size: 25px;
}
.product-description__version_wrap section div{
    display: inline-grid;
    width: 40%;
}
.product-description__head-info h3{
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
}
div.product-description__head-product_img{
    border: none;
    padding: 0px;
    width: 131px;
}
.product-description__version_wrap li {
    border-bottom: 1px solid #0067C280;
}
.product-description__tab h3, .product-description__head-info h3, .product-description__variants_wrap, #prices strong span{
    color: #0067C2!important;
}
.product-description__variants_wrap li{
    color: #000;
}

.product-description__tab h3{
    font-size: 45px;
    font-weight: 500;
}
.product-description__variants_wrap strong span{
    font-size: 35px!important;
    font-weight: 500;
    position: relative;
    margin-bottom: 10px;
}
#tab2 .product-description__variants_wrap strong span:before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #0067c2;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: 50%;
    margin-top: -4px;
}
li.main-list__mark_item:before{
    background: #000;
    width: 4px;
    height: 4px;
}
#prices li{
    list-style-type: disc;
}
.grey_background{
    background-color: rgba(196, 196, 196, 0.3);
    border-radius: 5px;
}